*{
    margin: 0;
    padding: 0;
 
  background-color: #373A40;
 
}

#calc{
    width: 300px;
    height: 520px;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 40%;
    top: 100px;
    box-shadow: 0px 0px 20px 3px black,-0px -0px 20px 5px black
}
#input-box{
    width: 85%;
    height: 13%;
    margin-left: 15px;
    margin-top: 40px;
    font-size: 1.6rem;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: right;
    text-indent: 50px;
    box-shadow: -0px -0px 15px 3px rgb(36, 36, 36);
    padding: 7px;
}
.button-container{
    position: relative;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    margin: 5px;
}
.button{
    color: orange;
   width: 50px;
   height: 50px;
   background-color: transparent;
   margin: 10px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  box-shadow: -4px -4px 10px rgba(245, 245, 245, 0.1);
}
#operator{
    color:rgb(9, 231, 9);
}
#operator:hover{
    color: white;
}
#equal{
    background-color: chocolate;
    color: azure;
}
.button:hover{
    background-color: rgb(177, 147, 91);
    color: white;
}
#equal:hover{
    background-color: rgb(23, 23, 22);
}